<!DOCTYPE html>
<html>
  <head>
    <title>Handwritten Digits Recognizer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">

  </head>
  <body>

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">AI Experiments</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="#">Code</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="jumbotron">
        <h1>Handwritten Digits Recognizer</h1>
        <p>Built using a Convolutional Neural Network trained on the MNIST dataset.</p>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2 class="bd-title" id="content">Draw a digit here</h1>
            <canvas id="main"></canvas>
            <div class="container" style="margin-left: 0px; padding: 0px">
              <a href="/" class="btn btn-primary" style="margin-top: 8px">Reset</a>
            </div>
          </div>

          <div class="col-md-8">
            <h2 class="bd-title" id="prediction"></h1>

            <h5 class="progress-label" id="0_bar_label"></h4>
            <div class="progress" style="display: none; margin-bottom: 15px" id="0_bar_main">
              <div class="progress-bar progress-bar-info" style="width: 0%; display: none" id="0_bar">
                <span style="float:left; margin-left:10px" id="0_bar_span"></span>
              </div>
            </div>

            <h5 class="progress-label" id="1_bar_label"></h4>
            <div class="progress" style="display: none; margin-bottom: 15px" id="1_bar_main">
              <div class="progress-bar progress-bar-info" style="width: 0%; display: none" id="1_bar">
                <span style="float:left; margin-left:10px" id="1_bar_span"></span>
              </div>
            </div>

            <h5 class="progress-label" id="2_bar_label"></h4>
            <div class="progress" style="display: none; margin-bottom: 15px" id="2_bar_main">
              <div class="progress-bar progress-bar-info" style="width: 0%; display: none" id="2_bar">
                <span style="float:left; margin-left:10px" id="2_bar_span"></span>
              </div>
            </div>

            <h5 class="progress-label" id="3_bar_label"></h4>
            <div class="progress" style="display: none; margin-bottom: 15px" id="3_bar_main">
              <div class="progress-bar progress-bar-info" style="width: 0%; display: none" id="3_bar">
                <span style="float:left; margin-left:10px" id="3_bar_span"></span>
              </div>
            </div>

            <h5 class="progress-label" id="4_bar_label"></h4>
            <div class="progress" style="display: none; margin-bottom: 15px" id="4_bar_main">
              <div class="progress-bar progress-bar-info" style="width: 0%; display: none" id="4_bar">
                <span style="float:left; margin-left:10px" id="4_bar_span"></span>
              </div>
            </div>

            <h5 class="progress-label" id="5_bar_label"></h4>
            <div class="progress" style="display: none; margin-bottom: 15px" id="5_bar_main">
              <div class="progress-bar progress-bar-info" style="width: 0%; display: none" id="5_bar">
                <span style="float:left; margin-left:10px" id="5_bar_span"></span>
              </div>
            </div>

            <h5 class="progress-label" id="6_bar_label"></h4>
            <div class="progress" style="display: none; margin-bottom: 15px" id="6_bar_main">
              <div class="progress-bar progress-bar-info" style="width: 0%; display: none" id="6_bar">
                <span style="float:left; margin-left:10px" id="6_bar_span"></span>
              </div>
            </div>

            <h5 class="progress-label" id="7_bar_label"></h4>
            <div class="progress" style="display: none; margin-bottom: 15px" id="7_bar_main">
              <div class="progress-bar progress-bar-info" style="width: 0%; display: none" id="7_bar">
                <span style="float:left; margin-left:10px" id="7_bar_span"></span>
              </div>
            </div>

            <h5 class="progress-label" id="8_bar_label"></h4>
            <div class="progress" style="display: none; margin-bottom: 15px" id="8_bar_main">
              <div class="progress-bar progress-bar-info" style="width: 0%; display: none" id="8_bar">
                <span style="float:left; margin-left:10px" id="8_bar_span"></span>
              </div>
            </div>

            <h5 class="progress-label" id="9_bar_label"></h4>
            <div class="progress" style="display: none; margin-bottom: 15px" id="9_bar_main">
              <div class="progress-bar progress-bar-info" style="width: 0%; display: none" id="9_bar">
                <span style="float:left; margin-left:10px" id="9_bar_span"></span>
              </div>
            </div>
          </div>


        </div>
      </div>

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
    <script src="/static/js/main.js"></script>

  </body>
</html>
